@import '../../styles/variables';
@import '../../styles/rwd';

.section06 {
  &-container {
    @include flex-center;
    flex-direction: column;
  }

  &-pronunciation,
  &-foreign {
    margin-top: $space-secondary !important;
  }

  &-btn {
    margin-top: $space-secondary !important;
    @include flex-center;

    button {
      @include primary-button;
      @include pulse-animate-btn;
      background-color: $primary-color;
    }
  }
}

.section06-pronunciation .lp {
  &-container {
    @include flex-center;
    flex-direction: column;
  }

  &-video {
    width: 60%;
    @include mobile {
      width: 100%;
    }
  }

  &-content {
    width: 100%;
    @include flex-center;
    flex-direction: row;
    @include mobile {
      height: 240px;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      position: relative;
    }

    .content-item {
      height: 100px;
      @include flex-center;
      text-align: center;

      &:nth-child(odd) {
        width: 200px;
        border: 2px dashed $secondary-color;
        border-radius: 10px;
        padding: 10px;
        @include mobile {
          width: 145px;
        }
        @include small {
          width: 165px;
        }
        @include xsmall {
          width: 120px;
        }

        p {
          color: $primary-color;
          font-size: 1.5rem;
          font-weight: bold;
          @include tablet {
            font-size: 1.3rem;
          }
          @include mobile {
            font-size: 1.3rem;
          }
          @include xsmall {
            font-size: 1.2rem;
          }
        }
      }

      &:nth-child(even) {
        width: fit-content;
        padding: 10px;
        @include tablet {
          padding: 0;
        }
        @include mobile {
          padding: 0;
          position: absolute;
        }

        svg {
          font-size: 4rem;
          color: $secondary-color;
          @include tablet {
            font-size: 3rem;
          }
        }
      }

      @include small {
        &:nth-child(4) {
          width: 165px !important;
          right: 0;

          svg {
            transform: rotate(90deg);
          }
        }
      }

      @include xsmall {
        &:nth-child(4) {
          width: 120px !important;
          right: 0;

          svg {
            transform: rotate(90deg);
          }
        }
      }

      @include mobile {
        &:nth-child(2) {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-child(4) {
          width: 145px;
          right: 0;

          svg {
            transform: rotate(90deg);
          }
        }
        &:nth-child(5) {
          order: 6;
        }
        &:nth-child(6) {
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) rotate(180deg);
        }
      }
    }
  }
}

.section06-foreign .lwf {
  &-container {
    @include flex-center;
    flex-direction: column;
  }

  &-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    img{
      width: 100%;
    }
    @include tablet {
      grid-gap: 30px;
    }
    @include mobile {
      grid-gap: 24px;
    }
  }

  &-video {
    @include flex-center;
    img{
      width: 100%;
    }
  }

  &-description {
    @include flex-center;

    .description {
      &-container {
        border: 2px dashed $primary-color;
        border-radius: 10px;
        padding: 20px;
        background-color: rgb(245, 245, 245);

        p {
          //margin-top: $space-secondary;
          font-size: 1.6rem;
          text-align: justify;
          @include tablet {
            font-size: 1.4rem;
          }
        }
      }

      &-title {
        text-align: center;

        h6 {
          font-weight: bold;
          font-size: 2rem;
          color: $primary-color;
        }
      }
    }
  }
}

.section06-child-title {
  width: 400px;
  background-color: $primary-color;
  border-radius: 50px;
  height: 40px;
  text-align: center;
  @include flex-center;
  @include xsmall {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }

  p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    @include xsmall {
      font-size: 1.6rem;
    }
    @include mobile {
      font-size: 1.6rem;
    }
  }
}

.section06-child-content {
  margin-top: $space-secondary !important;
}
