@import '../../styles/variables';
@import '../../styles/rwd';

.homepage-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .space-top {
    margin-top: $space-primary !important;
  }

  .section {
    &-02,
    &-03,
    &-04,
    &-05,
    &-06,
    &-07,
    &-08,
    &-09 {
      padding-top: 120px;
      @include mobile {
        padding-top: 40px;
      }
    }
  }
}
