@import '../../styles/variables';
@import '../../styles/rwd';

.homepage-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .space-top {
    margin-top: $space-primary !important;
  }

  .section02-bg,
  .section03-bg,
  .section05-bg,
  .section12-bg {
    padding: 20px 0;
  }

  .section02-bg {
    background: url('../../assets/imgs/bg5.png') no-repeat center;
    background-size: cover;
  }

  .section03-bg {
    background: url('../../assets/imgs/bg6.png') no-repeat center;
    background-size: cover;
  }

  .section05-bg {
    background-color: #fff4e4;
  }

  .section12-bg {
    background: url('../../assets/imgs/bg8.jpeg') no-repeat center;
    background-size: cover;
  }

  //.section {
  //  &-02,
  //  &-03,
  //  &-04,
  //  &-05,
  //  &-06,
  //  &-07,
  //  &-08,
  //  &-09 {
  //    padding-top: 120px;
  //    @include mobile {
  //      padding-top: 40px;
  //    }
  //  }
  //}
}
