@import '../../styles/variables';

.homepage-container {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .space-top {
    margin-top: $space-primary !important;
  }
}

.fixed-header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.unfixed-header {
  background-color: unset;
  -webkit-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
