@import "../../styles/variables";
@import "../../styles/rwd";

.section-03 {
  @include flex-center;
  flex-direction: column;
}

.section03 {
  &-content {
    width: 100%;
    margin-top: $space-secondary !important;

    .content {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;

      p {
        @include flex-center;
        justify-content: unset;
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: bold;
        @include mobile {
          margin-bottom: $space-secondary;
        }

        svg {
          font-size: 5rem;
          color: $secondary-color;
          margin-right: 10px;
        }
      }
    }
  }

  &-title {
    text-align: center;

    h6, span {
      @include primary-text-size;
      @include mobile {
        font-size: 2rem;
      }
    }
  }

  &-img {
    img {
      width: 100%;
    }
  }
}
