@import "../../styles/variables";
@import "../../styles/rwd";

.section08 {
  &-container {
    @include flex-center;
    flex-direction: column;
  }

  &-title {
    text-align: center;

    p {
      @include primary-text-size;
      @include mobile {
        font-size: 2.1rem;
      }
    }
  }

  &-img, &-content {
    margin-top: $space-secondary !important;
  }

  &-img {
    width: 960px;
    border: 1px solid #000000;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  &-content {
    @include flex-center;
    flex-direction: row;
    width: 960px;
    @include tablet {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    @include mobile {
      width: 100%;
    }

    ul {
      color: $primary-color;
      @include flex-center;
      flex-wrap: wrap;

      li {
        list-style-type: none;
        font-size: 1.6rem;
        width: 50%;

        svg {
          margin-right: 5px;
        }

        @include tablet {
          font-size: 1.4rem;
        }

        @include mobile {
          width: 100%;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
