@import '../../styles/variables';
@import '../../styles/rwd';

.section09 {
  &-container{
    @include flex-center;
    flex-direction: column;
  }
  &-form {
    margin-top: $space-secondary !important;
    @include flex-center;
    text-align: center;

    .form-container {
      border-radius: 10px;
      border: 2px solid $primary-color;
      width: 400px;
      //height: 400px;
      @include flex-center;
      flex-direction: column;
      padding: 10px;
      @include mobile {
        padding: 10px 0;
      }

      .form-title {
        margin-bottom: 12px;
        font-size: 2.1rem;
        @include xsmall {
          font-size: 1.8rem;
        }
      }
    }
  }
}
