@import '../../styles/variables';
@import '../../styles/rwd';

.section-02 {
  scroll-behavior: smooth;
}

.diagram {
  &-container {
    margin-top: $space-secondary;
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  &-items {
    @include flex-center;
    .item {
      position: relative;
      @include flex-center;
      &:nth-child(-n + 6) {
        margin-bottom: 20px;
      }
      @include mobile {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }

      .icon {
        flex: 1;
        padding: 10px;
        @include flex-center;
      }

      .content {
        flex: 5;
        @include mobile {
          flex: 4;
        }
      }

      .icon img {
        width: 80%;
      }

      .content {
        margin-left: 10px;
        p {
          font-size: 1.6rem;
          text-align: justify;
          font-weight: bold;
        }
      }
    }
  }
}

.section02-register-btn {
  margin-top: $space-secondary !important;
  @include flex-center;

  button {
    @include primary-button;
    @include pulse-animate-btn;
    background-color: $primary-color;
  }
}
