@import "../../styles/variables";
@import "../../styles/rwd";

.title-container {
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

  p {
    @include primary-text-size;
    @include mobile {
      font-size: 1.8rem;
    }
  }
}