@import '../../styles/variables';
@import '../../styles/rwd';
@import url("https://use.typekit.net/zsu3xwo.css");

.header {
  height: 100%;
  @include mobile {
    display: flex;
    padding: 0 !important;
  }

  .header-container {
    padding: 10px 0;
    @include flex-center;
    flex-direction: row;
    //position: fixed;
    z-index: 1;
    @include mobile {
      padding: 0;
      flex-direction: column;
      position: unset;
    }

    .logo {
      @include mobile {
        order: 2;
        margin-top: 5px;
      }

      .logo-content {
        width: 100%;
        @include flex-center;
        flex-direction: row;

        .img-desc {
          @include flex-center;
          flex-direction: column;
          margin-left: 10px;

          .title, .subtitle, p {
            font-size: 2.5rem;
            @include mobile {
              font-size: 1.5rem;
            }
            @include xsmall {
              font-size: 1.5rem;
            }
            @include xxsmall {
              font-size: 1.2rem;
            }
            @include tablet {
              font-size: 1.5rem;
            }
          }

          .title, p {
            font-family: "Times New Roman", sans-serif;
            font-weight: bold;
          }

          .subtitle {
            font-family: tekton-pro, sans-serif;
            font-weight: lighter;
          }
        }

        img {
          width: 100px;
          height: 100px;
          @include mobile {
            width: 70px;
            height: 70px;
          }
          @include tablet {
            width: 70px;
            height: 70px;
          }
        }
      }
    }

    .hotline {
      @include mobile {
        height: 40px;
        width: 100%;
        order: 1;
        svg,
        a {
          color: #ffffff !important;
        }
      }

      .hotline-container {
        @include flex-center;
        @include mobile {
          background-color: $primary-color !important;
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
        }

        .phone-icon {
          -webkit-animation-name: pulse;
          -webkit-animation-delay: 1s;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;
          @include mobile {
            svg {
              font-size: 2rem;
            }
          }
        }

        a {
          color: $primary-color;
          text-decoration: none;
          font-size: 2.5rem;
          font-weight: 600;
          margin-left: 5px;
          @include mobile {
            font-size: 2rem;
          }
          @include xsmall {
            font-size: 1.7rem;
          }
          @include xxsmall {
            font-size: 1.5rem;
          }
          @include tablet {
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}

.fixed-header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.unfixed-header {
  background-color: unset;
  -webkit-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
