@import '../../styles/variables';
@import '../../styles/rwd';

.section-05 {
  @include flex-center;
  flex-direction: column;
}

.section05 {
  &-container {
    width: 960px;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
  }

  &-content {
    margin-top: $space-secondary !important;

    .vertical-timeline--customer {
      &::before {
        background-color: rgb(33, 150, 243) !important;
      }
    }

    .vertical-timeline-element--work {
      .vertical-timeline-element-title {
        font-weight: bold;
        font-size: 2rem;
      }

      .vertical-timeline-element-subtitle {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    .vertical-timeline-element-icon {
      @include tablet {
        left: -1%;
      }
      @include mobile {
        left: -2%;
      }
    }
  }
}
