@import '../../styles/variables';
@import '../../styles/rwd';

.section-01 {
  background: url('../../assets/imgs/bg3.png') no-repeat center;
  background-size: cover;
  height: 800px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @include mobile {
    height: 850px;
  }

  .header-section {
    height: 120px;
  }

  .section01-main-content {
    height: calc(800px - 120px);
    width: 960px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 12px;
    @include flex-center;
    flex-direction: column;
    @include mobile {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }

  .section01-main-content .title {
    @include flex-center;
    flex-direction: column;
    text-align: center;

    &-header,
    &-main {
      margin-bottom: 15px;
      @include mobile {
        margin-bottom: 10px;
      }
    }

    &-header {
      width: auto;
      background-color: $primary-color;
      color: #ffffff;
      padding: 5px;
      @include mobile {
        h2 {
          font-size: 1.4rem;
        }
      }
    }

    &-main {
      h1 {
        font-weight: bold;
        font-size: 4rem;
        @include mobile {
          font-size: 2rem;
        }
      }
    }
  }

  .section01-main-content .detail-btn {
    @include flex-center;
    margin-top: 24px;
    margin-bottom: 32px;

    button {
      @include primary-button;
      @include pulse-animate-btn;
      @include mobile {
        width: 150px;
        font-size: 1.5rem;
      }
    }
  }

  .section01-main-content .register-form {
    min-height: 295px;
    border: 4px dashed $primary-color;
    border-radius: 25px;
    background-color: rgb(189, 242, 250);
    padding: 10px 0;
    @include mobile {
      width: 100%;
      min-height: unset;
    }
    @include tablet {
      width: 100%;
    }

    .row {
      height: 100%;
      justify-content: center;
      align-items: center;

      .register-desc {
        padding: 0 10px;
        text-align: center;

        .register-title {
          font-weight: 700;
          font-size: 2.8rem;
          margin-bottom: 50px;
          @include mobile {
            font-size: 2.4rem;
            margin-bottom: 10px;
          }
        }

        .register-subtitle {
          font-size: 2.3rem;
          margin-bottom: 0;
          @include mobile {
            font-size: 1.9rem;
          }
        }
      }
    }

    .border-left-line {
      border-left: 2px solid $primary-color;
      @include mobile {
        margin-top: 20px;
        border-left: unset;
      }
    }

    form {
      width: 100%;
      height: 100%;
    }
  }
}
