@import '../../styles/rwd';

.animate-text {
  text-align: center;
  font: bold 4.5vw 'Signika', sans-serif !important;
  font-weight: 700;
  user-select: none;

  .sub-animate-text {
    font-size: 6rem;
    white-space: pre;
    line-height: 0;
    display: inline-block;
    //animation: float 0.2s ease-in-out infinite;
    @include tablet {
      font-size: 4.5rem;
      line-height: 0;
    }
    @include mobile {
      font-size: 3.5rem;
      line-height: 5rem;
    }
    @include small {
      font-size: 4rem;
    }
    @include xsmall {
      font-size: 3rem;
    }
    @include xxsmall{
      font-size: 3rem;
    }
  }
}

.sub-animate-text:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
  3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

.sub-animate-text:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
  3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

.sub-animate-text:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
  3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

.sub-animate-text:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
  3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}